/*Colorful letters */

.red {color: #BD472A;}

.golden{color: #FFCD00;}

.green{color: #00664F;}
.greenLight{color: #00AF66;}

.orange{color: #FF8200}

.navy{color: #00558C;}

.blue{color: #00A9E0;}

.gray{color: #63666A;}
.grayLight{color: #BBBCBC;}


/*Customize letter size*/

.Huge { font-size: 300%; }
.huge { font-size: 250%; }
.Large { font-size: 200%; }
.large { font-size: 150%; }
.normal { font-size: 120%; }
.Small { font-size: 80%; }
.small { font-size: 60%; }
.Tiny { font-size: 40%; }
.tiny { font-size: 30%; }


/* Title slide */

/*
h1.title {
  padding-top: 300px;
  font-size: 150%;
  text-align: left;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

p.subtitle {
  font-size: 70%;
  text-align: left;
}

*/

.quarto-title-authors{
  font-size: 90%;
  text-align: center;
  color: gray;
}

p.quarto-title-affiliation{
  font-size: 90%;
  text-align: center;
  color: gray;
}

p.date{
  font-size: 70%;
  text-align: center;
  color: gray;
}

/*Code chunk*/
.sourceCode{ /* Code block */
  font-size: 120%;
}

.cell{
  font-size: 120%;
}