/*Colorful letters */

.red {color: #BD472A;}

.golden{color: #FFCD00;}

.green{color: #00664F;}
.greenLight{color: #00AF66;}

.orange{color: #FF8200}

.navy{color: #00558C;}

.blue{color: #00A9E0;}

.gray{color: #63666A;}
.grayLight{color: #BBBCBC;}


/*Customize letter size*/

.Huge {font-size: 300%; }
.huge {font-size: 250%; }
.Large { font-size: 200%; }
.large { font-size: 150%; }
.Small { font-size: 80%; }
.small { font-size: 60%; }
.Tiny{ font-size: 40%; }
.tiny{ font-size: 30%; }


/* Title slide */

/*
h1.title {
  padding-top: 400px;
  font-size: 200%;
  text-align: left;
  padding-bottom: 18px;
  margin-bottom: 18px;
  color: #333;
}

p.subtitle {
  font-size: 120%;
  text-align: left;
}
*/

p.author{
  font-size: 100%;
  text-align: left;
  color: gray;
}

p.institute{
  font-size: 90%;
  text-align: left;
  color: gray;
}

/*Code chunk*/
.sourceCode{
  font-size: 120%;
}


.cell{
  font-size: 200%;
}


/* from xaringan */

/*
.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}

h1 .inverse , h2 .inverse, h3 .inverse, p .inverse {
  color: #FFCD00;
}
*/

.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right + * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}